In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Importing Dataset

In [3]:
dataset = pd.read_csv('Mall_Customers.csv')
print(dataset)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [7]:
X = dataset.iloc[:, 1:5].values
print(X)

[['Male' 19 15 39]
 ['Male' 21 15 81]
 ['Female' 20 16 6]
 ['Female' 23 16 77]
 ['Female' 31 17 40]
 ['Female' 22 17 76]
 ['Female' 35 18 6]
 ['Female' 23 18 94]
 ['Male' 64 19 3]
 ['Female' 30 19 72]
 ['Male' 67 19 14]
 ['Female' 35 19 99]
 ['Female' 58 20 15]
 ['Female' 24 20 77]
 ['Male' 37 20 13]
 ['Male' 22 20 79]
 ['Female' 35 21 35]
 ['Male' 20 21 66]
 ['Male' 52 23 29]
 ['Female' 35 23 98]
 ['Male' 35 24 35]
 ['Male' 25 24 73]
 ['Female' 46 25 5]
 ['Male' 31 25 73]
 ['Female' 54 28 14]
 ['Male' 29 28 82]
 ['Female' 45 28 32]
 ['Male' 35 28 61]
 ['Female' 40 29 31]
 ['Female' 23 29 87]
 ['Male' 60 30 4]
 ['Female' 21 30 73]
 ['Male' 53 33 4]
 ['Male' 18 33 92]
 ['Female' 49 33 14]
 ['Female' 21 33 81]
 ['Female' 42 34 17]
 ['Female' 30 34 73]
 ['Female' 36 37 26]
 ['Female' 20 37 75]
 ['Female' 65 38 35]
 ['Male' 24 38 92]
 ['Male' 48 39 36]
 ['Female' 31 39 61]
 ['Female' 49 39 28]
 ['Female' 24 39 65]
 ['Female' 50 40 55]
 ['Female' 27 40 47]
 ['Female' 29 40 42]
 ['Female' 31 40 42]
 ['Female' 49 42 52]
 ['Male' 33 42 60]
 ['Female' 31 43 54]
 ['Male' 59 43 60]
 ['Female' 50 43 45]
 ['Male' 47 43 41]
 ['Female' 51 44 50]
 ['Male' 69 44 46]
 ['Female' 27 46 51]
 ['Male' 53 46 46]
 ['Male' 70 46 56]
 ['Male' 19 46 55]
 ['Female' 67 47 52]
 ['Female' 54 47 59]
 ['Male' 63 48 51]
 ['Male' 18 48 59]
 ['Female' 43 48 50]
 ['Female' 68 48 48]
 ['Male' 19 48 59]
 ['Female' 32 48 47]
 ['Male' 70 49 55]
 ['Female' 47 49 42]
 ['Female' 60 50 49]
 ['Female' 60 50 56]
 ['Male' 59 54 47]
 ['Male' 26 54 54]
 ['Female' 45 54 53]
 ['Male' 40 54 48]
 ['Female' 23 54 52]
 ['Female' 49 54 42]
 ['Male' 57 54 51]
 ['Male' 38 54 55]
 ['Male' 67 54 41]
 ['Female' 46 54 44]
 ['Female' 21 54 57]
 ['Male' 48 54 46]
 ['Female' 55 57 58]
 ['Female' 22 57 55]
 ['Female' 34 58 60]
 ['Female' 50 58 46]
 ['Female' 68 59 55]
 ['Male' 18 59 41]
 ['Male' 48 60 49]
 ['Female' 40 60 40]
 ['Female' 32 60 42]
 ['Male' 24 60 52]
 ['Female' 47 60 47]
 ['Female' 27 60 50]
 ['Male' 48 61 42]
 ['Male' 20 61 49]
 ['Female' 23 62 41]
 ['Female' 49 62 48]
 ['Male' 67 62 59]
 ['Male' 26 62 55]
 ['Male' 49 62 56]
 ['Female' 21 62 42]
 ['Female' 66 63 50]
 ['Male' 54 63 46]
 ['Male' 68 63 43]
 ['Male' 66 63 48]
 ['Male' 65 63 52]
 ['Female' 19 63 54]
 ['Female' 38 64 42]
 ['Male' 19 64 46]
 ['Female' 18 65 48]
 ['Female' 19 65 50]
 ['Female' 63 65 43]
 ['Female' 49 65 59]
 ['Female' 51 67 43]
 ['Female' 50 67 57]
 ['Male' 27 67 56]
 ['Female' 38 67 40]
 ['Female' 40 69 58]
 ['Male' 39 69 91]
 ['Female' 23 70 29]
 ['Female' 31 70 77]
 ['Male' 43 71 35]
 ['Male' 40 71 95]
 ['Male' 59 71 11]
 ['Male' 38 71 75]
 ['Male' 47 71 9]
 ['Male' 39 71 75]
 ['Female' 25 72 34]
 ['Female' 31 72 71]
 ['Male' 20 73 5]
 ['Female' 29 73 88]
 ['Female' 44 73 7]
 ['Male' 32 73 73]
 ['Male' 19 74 10]
 ['Female' 35 74 72]
 ['Female' 57 75 5]
 ['Male' 32 75 93]
 ['Female' 28 76 40]
 ['Female' 32 76 87]
 ['Male' 25 77 12]
 ['Male' 28 77 97]
 ['Male' 48 77 36]
 ['Female' 32 77 74]
 ['Female' 34 78 22]
 ['Male' 34 78 90]
 ['Male' 43 78 17]
 ['Male' 39 78 88]
 ['Female' 44 78 20]
 ['Female' 38 78 76]
 ['Female' 47 78 16]
 ['Female' 27 78 89]
 ['Male' 37 78 1]
 ['Female' 30 78 78]
 ['Male' 34 78 1]
 ['Female' 30 78 73]
 ['Female' 56 79 35]
 ['Female' 29 79 83]
 ['Male' 19 81 5]
 ['Female' 31 81 93]
 ['Male' 50 85 26]
 ['Female' 36 85 75]
 ['Male' 42 86 20]
 ['Female' 33 86 95]
 ['Female' 36 87 27]
 ['Male' 32 87 63]
 ['Male' 40 87 13]
 ['Male' 28 87 75]
 ['Male' 36 87 10]
 ['Male' 36 87 92]
 ['Female' 52 88 13]
 ['Female' 30 88 86]
 ['Male' 58 88 15]
 ['Male' 27 88 69]
 ['Male' 59 93 14]
 ['Male' 35 93 90]
 ['Female' 37 97 32]
 ['Female' 32 97 86]
 ['Male' 46 98 15]
 ['Female' 29 98 88]
 ['Female' 41 99 39]
 ['Male' 30 99 97]
 ['Female' 54 101 24]
 ['Male' 28 101 68]
 ['Female' 41 103 17]
 ['Female' 36 103 85]
 ['Female' 34 103 23]
 ['Female' 32 103 69]
 ['Male' 33 113 8]
 ['Female' 38 113 91]
 ['Female' 47 120 16]
 ['Female' 35 120 79]
 ['Female' 45 126 28]
 ['Male' 32 126 74]
 ['Male' 32 137 18]
 ['Male' 30 137 83]]